<div ng-if="resetPwd.loading" style="text-align:center">
        <h1 ng-if="!resetPwd.flags.invalidCode"> Please wait ...</h1>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <p ng-if="!resetPwd.flags.invalidCode">
                    We expect your patience at the moment
                </p>
                
                <div ng-if="resetPwd.flags.invalidCode" class="alert alert-info">
                    <p>
                        Invalid or expired password request. Please try again at a later time
                    </p>
                </div>
                
                <hr />
                <a ui-sref="login">goto Signin</a>
                <hr/>
            </div>
        </div>                
    </div>

<div ng-if="!resetPwd.loading" style="text-align:center">
    <div ng-if="!resetPwd.operationSuccess">
        <h1 style="text-align:center"> Reset Password</h1>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <p>
                    We've successfully verified your identity. Now you need to select a new password for your account to proceed.
                </p>
                
                <div class="alert alert-info">
                    <p>
                        <b>Please Note:</b>Password should have at least 8 characters and must include
                        <br>                        
                        i) at least one upper case letter (A – Z).
                        <br>
                        ii) at least one lower case letter(a-z).
                        <br>
                        iii) At least one digit (0 – 9) .
                        <br>
                        iv) at least one special Characters of !@#$%&*()
                        <br>
                    </p>
                </div>
        
                <hr/>
            </div>
        </div>

        <div class="login">

            <form class="login-form">
                <div ng-if="resetPwd.flags.invalidChallenge" class="alert alert-danger text-left">
                </div>
                <div ng-if="resetPwd.flags.mismatchPassword" class="alert alert-info">
                    <p>
                        Password do not match
                    </p>
                </div>

                <input ng-model="resetPwd.challenge.password" type="password" class="form-control input-lg" id="password" placeholder="New Password"
                    required tabindex="2" />
                <br>
                <input ng-model="resetPwd.challenge.confirmPassword" type="password" class="form-control input-lg" id="password" placeholder="Confirm Password"
                    required tabindex="2" />

                <input ng-click="resetPwd.processPassword()" type="button" id="forgot-password-continue" class="btn btn-block btn-lg btn-primary fa-lg"
                    value="Reset Password" tabindex="3" style="margin-top:10px" />
                <div class="login-bar">
                    <!--<a ui-sref="resetpassword" class="pull-left">back to email validation</a>-->
                    <a ui-sref="registration" class="pull-right">create an account</a>
                </div>
            </form>

        </div>
    </div>
    
    <div ng-if="resetPwd.operationSuccess">
        <h1 style="text-align:center" class="text-success"> Password Changed</h1>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <p>
                    Congrats! your password has been changed successfully.
                </p>
                <hr />
                <a ui-sref="login">goto Signin</a>
                <hr/>
            </div>
        </div>                
    </div>
    
</div>

<br>
<br>