<div ng-if="!resetPwd.operationSuccess" style="text-align:center">
    <h1> Recover Your Account</h1>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <p>We can help you reset your password and security info. First, enter your verified email address and follow the
                instructions below.</p>                
            <hr/>
        </div>
    </div>

    <div class="login">
        <form class="login-form">
            <div ng-if="!resetPwd.flags.emailValid" class="alert alert-info">
                <p>
                    Please enter a valid email
                    <br>
                    <span class="text-muted">Hint: example@mail.com</span>
                </p>
            </div>
            <div ng-if="!resetPwd.flags.emailVerified" class="alert alert-danger">
                <p>
                   This email is not registered in the system
                </p>
            </div>
            <div class="input-group input-group-lg">
                <div class="input-group-addon"><span class="fa fa-lg fa-envelope" /></div>
                <input type="text" class="form-control" id="user-name" ng-model="resetPwd.user.email" placeholder="Email" ng-required tabindex="1"
                />
            </div>
            <input ng-click="resetPwd.processEmail()" type="button" id="forgot-password-continue" class="btn btn-block btn-lg btn-primary fa-lg"
                value="Continue" tabindex="3" style="margin-top:10px" />
            <div class="login-bar">
                <a ui-sref="login" class="pull-left">back to Signin</a>
                <a ui-sref="registration" class="pull-right">create an account</a>
            </div>
        </form>

    </div>
</div>

<div ng-if="resetPwd.operationSuccess" style="text-align:center">
    <h1 class="text-info"> Email has been sent</h1>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <p>
                We've sent you an email containing a password reset link. Please check further instructions in your email
            </p>
            <hr />
            <a ui-sref="login">goto Signin</a>
            <hr/>
        </div>
    </div>
</div>


<br>
<br>