<div class="row team-project">
    <div class="projects-top-bar">
        <h1>VIP PROJECTS</h1>

            <div class="panel panel-default btn-feature-container">

                <button ui-sref="studentconfirminfo" class="btn btn-primary btn-feature">
                <strong>APPLY FOR A PROJECT </strong>
                <small><i>for Students,Faculty, and Mentor</i></small>
                </button>
            </div>
            <div class="panel panel-default btn-feature-container">

                <button ui-sref="projectProposal" class="btn btn-primary btn-feature">
                <strong>PROPOSE A PROJECT </strong>
                <small><i>for Faculty/Staff</i></small>
                </button>

            </div>  
            <br>
            <br>
    </div>

    <!-- Project cards here -->
    
            <div class="col-md-4 panel panel-default" style="max-height: 90px; width: 100%; border:none; box-shadow: none; margin-top: 40px;">

            <table class="table filters-table" style="max-width: 200px; border: none;">
            <tr>
                <th style="border: none;">
                    <b>
                    <p><input type="hidden" ng-model="userproject">Filter Projects By:<select class="form-control" ng-model="selectedFilter" ng-options="projects as projects.name for projects in vm.filters" ng-change="applyFilter()"></select></input></p>
                </th>
            </tr>
            </table>
            
            </div>

        <br><br>
		<center ng-hide="vm.done"><img ng-hide="vm.done" width="30%" height="30%" src="img/loading.gif"/></center>
        
        <div class="col-md-6 project-info" ng-if="vm.done" ng-repeat="project in vm.filteredprojects | filter: { status: 'Active' }" ng-click="vm.viewDetails(project)">

            <div class="proj-info-box">
                <img ng-src="{{project.image}}" alt="{{project.title}}" class="proj-image">
                <h3 class="proj-title-teams">{{project.title}}</h3>
                <h5 class="proj-title-owner">Owner: {{project.owner_name}}</h5>
                <p class="proj-descrip-teams">{{project.description}}</p>
            </div>
        </div>
		
		<div class="col-md-6 project-info" ng-if="vm.done" ng-repeat="project in vm.filteredprojects | filter: { status: 'modified' }" ng-click="vm.viewDetails(project.old_project[0])">
            <div class="proj-info-box">
                <img ng-src="{{project.old_project[0].image}}" alt="{{project.old_project[0].title}}" class="proj-image">
                <h3 class="proj-title-teams">{{project.old_project[0].title}}</h3>
                <h5 class="proj-title-owner">Owner: {{project.old_project[0].owner_name}}</h5>
                <p class="proj-descrip-teams">{{project.old_project[0].description}}</p>
            </div>
        </div>

        <!-- End here -->
</div>