<div class="row team-project">
   <!--  <div class="projects-top-bar">
        <div>
            <h3></h3>
        </div>
        <div class="col">
            <div class="col-sm-4 team-info">
                <h5>{{vm.data.name}}</h5>
            </div>
            <div class="col-sm-8 sort-by-padding">
                <label class=""><h5>Sort By:</h5></label>
                <select class="btn btn-default dropdown-toggle top-margin">
                    <option value="Title">Title</option>
                    <option value="Start Year">Start Year</option>
                </select>
            </div>
        </div>
    </div> -->
        <div class="video-container" ng-show="vm.data.video_url">
			
            <iframe width="600" height="350" ng-src="{{vm.setVideo(vm.data.video_url)}}"  frameborder="0" allowfullscreen style="margin: 0 auto;"></iframe>
			
        </div>

        <div class="col-sm-9 project-second-section-middle">
            <div class="col-sm-12 detailed-project-info">
                    <h2 class="proj-title-teams">
                        <strong>{{vm.data.title}}</strong>
                    </h2>
                    <hr>
                    <img src="{{vm.data.image}}" class="proj-image" />
                    <h4>About this project</h4>
                    <p class="proj-description">
                        {{vm.data.description}}
                    </p>
            </div>
        </div>

        <div class="col-md-3 sidebar-container">

            <div class="col-md-12">
                    <h4>Mentor</h4>
                <div>
                    <ul class="student-list">
                        <li class="student-in-list">
                            <a href="#">{{vm.data.owner_name}}</a>
                            <a href="/#/sendmessage/{{vm.data.owner_name}}">
                            <button ng-show=" vm.profile.userType == 'Pi/CoPi'" class="btn btn-primary msg-btn">Message</button>
                            </a>
                        </li>
                    </ul>
                </div>
                    <h4>Students</h4>
                <div>
                    <ul class="student-list" ng-repeat="student in vm.data.members_detailed track by $index">
                        <li class="student-in-list">
                        <a href="#">{{student}}</a>
                        <a href="/#/sendmessage/{{student}}">
                        <button ng-show=" vm.profile.userType == 'Pi/CoPi' || vm.profile.userType == 'Staff/Faculty'" class="btn btn-primary msg-btn">Message</button>
                        </a>
                        </li>
                    </ul>
                </div>

            </div>

             <div class="col-sm-12">
                    <h4>Options</h4>
            </div>

            <div class="col-sm-12" ng-repeat="discipline in vm.data.disciplines">
                <div class="btn side-bar-button">{{discipline}}</div>
            </div>

            <div class="btn btn-primary" ng-click="vm.applyForProject()" ng-hide=" vm.profile.userType == 'Pi/CoPi' || vm.profile.userType == 'Staff/Faculty'" ng-if="!vm.already_joined"> 
                <strong>Apply</strong>
            </div>

            <div class="btn btn-primary" ng-click="vm.applyForProject()" ng-show=" vm.profile.userType == 'Pi/CoPi' || vm.profile.userType == 'Staff/Faculty'" ng-if="!vm.already_joined"> 
                <strong>Join</strong>
            </div>

            <div ng-if="vm.already_joined" class="btn btn-primary" ng-click="vm.leaveProject()"> 
                <strong>Leave</strong>
            </div>

            <div class="btn btn-primary" ng-click="vm.editProject()" ng-show=" vm.profile.userType == 'Pi/CoPi' || vm.profile.userType == 'Staff/Faculty'"> 
                <strong>Edit</strong>
            </div>

            <div class="btn btn-primary" ng-click="vm.deleteProject()" ng-show=" vm.profile.userType == 'Pi/CoPi' || vm.profile.userType == 'Staff/Faculty'"> 
                <strong>Delete</strong>
            </div>
        </div>
</div>
