<div class="row team-project">
    <div class="projects-top-bar">
        <div>
            <h3></h3>
        </div>
        <div class="col">
            <div class="col-sm-4 team-info">
                <h5>{{vm.data.name}}</h5>
            </div>
            <div class="col-sm-8 sort-by-padding">
                <label class=""><h5>Sort By:</h5></label>
                <select class="btn btn-default dropdown-toggle top-margin">
                    <option value="Title">Title</option>
                    <option value="Start Year">Start Year</option>
                </select>
            </div>
        </div>
    </div>
    <div class="">
        <div class="col-sm-9 project-second-section-middle">
            <div class="col-sm-12 project-info">
                <img src="{{vm.data.image}}" class="proj-image" />
                    <h2 class="proj-title">
                        <strong>{{vm.data.title}}</strong>
                    </h2>
                    <h3>Description</h3>
                        <hr>
                    <p class="proj-description">
                        {{vm.data.description}}
                    </p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="col-sm-12 project-second-section-sidebar">
                <button class="btn btn-primary" ng-click="vm.filterByDiscipline(discipline)">Show All</button>
            </div>
            <div class="col-sm-12">
                    <h4>Mentor</h4>
                <div>
                    <ul>
                        <li>{{vm.data.owner_name}}</li>
                    </ul>
                </div>
                    <h4>Students</h4>
                <div>
                    <ul ng-repeat="student in vm.data.members_detailed">
                        <li>{{student}}</li>
                    </ul>
                </div>
            </div>
             <div class="col-sm-12">
                    <h4>Options</h4>
            </div>
            <div class="col-sm-12" ng-repeat="discipline in vm.data.disciplines">
                <div class="btn side-bar-button">{{discipline}}</div>
            </div>
            <div ng-if="!vm.already_joined" class="btn btn-primary" ng-click="vm.applyForProject()"> <strong>Join</strong></div>
			<div ng-if="vm.already_joined" class="btn btn-primary" ng-click="vm.leaveProject()"> <strong>Leave</strong></div>
            <div ng-hide="vm.not_signed_in" class="btn btn-primary" ng-click="vm.editProject()"> <strong>Edit</strong></div>
            <div ng-hide="vm.not_signed_in" class="btn btn-primary" ng-click="vm.deleteProject()"> <strong>Delete</strong></div>
        </div>
    </div>
</div>
