<div>
<div ng-if="!done">
 <center><img img width="250px" height="250px" src="img/loading.gif"/></center>
</div>
<div ng-if="done" class=register>
        <h3 align="center"> Confirm Information </h3>
        <form name="ProjectApplication" ng-disabled="ProjectApplication.$invalid" ng-submit="projApp.save()" novalidate>
            <div class="form-group">
                <table class="table">
                    <tr>
                        <td colspan="4">

                            <label>Project:</label>
                            <select ng-model="projApp.sProject" ng-options="project as project.title for project in projApp.projects" class="form-control" Required="True">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">

                            <label>Semester:</label>
                            <select  ng-model="projApp.semester" ng-options="semester for semester in projApp.semesters" class="form-control" Required="True">
                            </select>
                        </td>
                    </tr>
					<tr ng-if="projApp.type != 'Student'">
                        <td colspan="4">

                            <label>Join As:</label>
                            <select  ng-model="projApp.join_type" class="form-control" Required="True">
								<option>Faculty</option>
								<option>Mentor</option>
                            </select>
                        </td>
                    </tr>
                    <tr ng-hide="guest">
                        <td>
                            <input type="text" ng-model="projApp.firstName" class="form-control" Required="True" ng-readonly="true">

                        </td>
                        <td>
                            <input  type="text" ng-model="projApp.lastName" class="form-control" Required="True" ng-readonly="true">
                        </td>
                    </tr>
                    <tr ng-hide="guest">
                        <td colspan="4">
                            <input type="text" ng-model="projApp.email" class="form-control" Required="True" ng-readonly="true">
                        </td>
                    </tr>
                    <tr ng-hide="guest">
                        <td>
                            <label>User Type:</label>
                            <div>
                                <input class = 'form-control' ng-model="projApp.type" ng-readonly="true">
                            </div><br>

                        </td>
                        <td>
                            <label>Rank:</label>
                            <div>
                                <input class="form-control" ng-model="projApp.rank" ng-readonly="true" Required="False">
                            </div><br>
                    </tr>
                    <tr ng-hide="guest">
                        <td>
                            <label>Panther ID:</label>

                            <div>
                                <input type="text" ng-model="projApp.pID" class="form-control" Required="True" ng-readonly="false">
                            </div>

                        </td>
                        <td>

                            <label>Gender:</label>
                            <div>
                                <select select ng-model="projApp.gender" ng-options="gender for gender in projApp.genders" class="form-control" Required="False">
                            </div>
                        </td>

                    <tr ng-hide="guest">
                        <td colspan="4">

                            <label>College:</label>
                            <select ng-model="projApp.selectedCollege" ng-options="college as college.name for college in projApp.Colleges" class="form-control" Required="True">
                            </select>
                        </td>
                    </tr>
                    <tr ng-hide="guest">
                        <td colspan="4">

                            <label>School/Department:</label>
                            <select ng-model="projApp.school" ng-options="school for school in projApp.selectedCollege.schools" class="form-control" Required="True">
                            </select>

                        </td>
                    </tr>

                </table>

                <!-- <div class="row show-hide-message" ng-show="projApp.message">
                     {{ projApp.message }}
                </div> -->

                <div align="center">
                    <button style= "width: 150px;" type="submit" class="btn btn-primary btn-block submit-app" >
                        <i class="fa fa-lg fa-user-plus" ></i> Submit
                    </button>

                </div>
                <br>

                <div>
                    <!-- <a ui-sref ="projects" class="pull-right">Cancel Application</a><br> -->
                    <a ng-href="{{getLinkUrl()}}">Cancel Application</a>
                </div>


            </div>

        </form>
</div>