<div class=register>
        <h3 align="center"> Confirm Information </h3>
        <form name="ProjectApplication" ng-submit="projApp.save()">
            <div class="form-group">
                <table class="table">
                    <tr>
                        <td colspan="4">

                            <label>Project:</label>
                            <select  ng-model="projApp.sProject" ng-options="project as project.title for project in projApp.projects" class="form-control" Required="True" >
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">

                            <label>Semester:</label>
                            <select  ng-model="projApp.semester" ng-options=" semester for semester in projApp.semesters" class="form-control" Required="True" >
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" ng-model="projApp.firstName" class="form-control" Required="True" ng-readonly="true">

                        </td>
                        <td>
                            <input  type="text" ng-model="projApp.lastName" class="form-control" Required="True" ng-readonly="true">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <input type="text" ng-model="projApp.email" class="form-control" Required="True" ng-readonly="true">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>User Type:</label>
                            <div>
                                <input class = 'form-control'  ng-model="projApp.type" ng-readonly="true">
                            </div><br>

                        </td>
                        <td>
                            <label>Rank:</label>
                            <div>
                                <select  ng-model="projApp.rank" ng-options=" rank for rank in projApp.ranks" class="form-control" Required="True">
                                </select>
                            </div>
                    </tr>
                    <tr>
                        <td>
                            <label>Panther ID:</label>

                            <div>
                                <input type="text" ng-model="projApp.pID" class="form-control" Required="True" />
                            </div>

                        </td>
                        <td>

                            <label>Gender:</label>
                            <div>
                                <select select  ng-model="projApp.gender" ng-options=" gender for gender in projApp.genders" class="form-control" Required="True">
                            </div>
                        </td>

                    <tr>
                        <td colspan="4">

                            <label>College:</label>
                            <select  ng-model="projApp.selectedCollege" ng-options="college as college.name for college in projApp.Colleges" class="form-control" Required="True">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">

                            <label>School/Department:</label>
                            <select  ng-model="projApp.school" ng-options=" school for school in projApp.selectedCollege.schools" class="form-control" Required="True" >
                            </select>

                        </td>
                    </tr>

                </table>

                <div align="center">
                    <button style= "width: 150px;" type="submit" class="btn btn-primary btn-block" ng-disabled="ProjectApplication.$invalid" >
                        <i class="fa fa-lg fa-user-plus" ></i> Save & Submit
                    </button>


                    <div style = "margin-left:53px;" class="row show-hide-message" ng-show="regCtlr.message">
                        <div style = "margin-left:53px;"class="col-sm-6 col-sm-offset-4">

                            <div style = "margin-left:53px;" class="alert alert-info">
                                {{ regCtlr.message }}
                            </div>

                        </div>
                    </div>
                </div><br>
                <div>
                    <a ui-sref ="home" class="pull-right">Cancel Application</a><br>
                    <!--  <a href="#" class="pull-left">Forgotten your password?</a> -->
                </div>


            </div>

        </form>
</div>